## Movie rental dataset processing using pandas

In [ ]:
import pandas as pd

In [ ]:
# read the csv file
df = pd.read_csv('/content/884698196073896_File.csv', parse_dates=['rental_date'])

# set rental_id as the index column
df.set_index('rental_id', inplace=True)

# display the first 5 rows
print(df.head())

                  rental_date          return_date customer_lastname  \
rental_id
1         2005-05-24 22:53:30  2005-05-26 22:04:30            HUNTER
2         2005-05-24 22:54:33  2005-05-28 19:40:33           COLLAZO
3         2005-05-24 23:03:39  2005-06-01 22:12:39           MURRELL
4         2005-05-24 23:04:41  2005-06-03 01:43:41             PURDY
5         2005-05-24 23:05:21  2005-06-02 04:33:21            HANSEN

           store_id rental_store_city       film_title  film_rental_duration  \
rental_id
1                 1        Lethbridge  BLANKET BEVERLY                     7
2                 2         Woodridge     FREAKY POCUS                     7
3                 2         Woodridge    GRADUATE LORD                     7
4                 1        Lethbridge    LOVE SUICIDES                     6
5                 2         Woodridge  IDOLS SNATCHERS                     5

           film_rental_rate  film_replacement_cost film_rating
rental_id
1                      2.99                  21.99           G
2                      2.99                  16.99           R
3                      2.99                  14.99           G
4                      0.99                  21.99           R
5                      2.99                  29.99       NC-17

In [ ]:
# change column names
df.rename(columns={'film_title': 'title', 'film_replacement_cost': 'replacement_cost', 
                   'film_rental_rate': 'rental_rate', 'film_rating': 'rating'}, inplace=True)

# display the updated column names
print(df.columns)

# save changes to the original data
df.to_csv('/content/884698196073896_File.csv', index=False)

Index(['rental_date', 'return_date', 'customer_lastname', 'store_id',
       'rental_store_city', 'title', 'film_rental_duration', 'rental_rate',
       'replacement_cost', 'rating'],
      dtype='object')

In [ ]:
# check dataframe shape
print("Original DataFrame Shape:", df.shape)

# check for missing values in any columns
print("Missing Values in Original DataFrame:\n", df.isnull().sum())

# drop rows with missing values
df.dropna(inplace=True)

# check dataframe shape after dropping missing values
print("DataFrame Shape After Dropping Missing Values:", df.shape)

# verify no more missing values
print("Missing Values in Updated DataFrame:\n", df.isnull().sum())

Original DataFrame Shape: (16044, 10)
Missing Values in Original DataFrame:
 rental_date               0
return_date             183
customer_lastname         0
store_id                  0
rental_store_city         0
title                     0
film_rental_duration      0
rental_rate               0
replacement_cost          0
rating                    0
dtype: int64
DataFrame Shape After Dropping Missing Values: (15861, 10)
Missing Values in Updated DataFrame:
 rental_date             0
return_date             0
customer_lastname       0
store_id                0
rental_store_city       0
title                   0
film_rental_duration    0
rental_rate             0
replacement_cost        0
rating                  0
dtype: int64

In [ ]:
# get the titles of all movies
titles = df['title']

# display the titles
print(titles)

rental_id
1             BLANKET BEVERLY
2                FREAKY POCUS
3               GRADUATE LORD
4               LOVE SUICIDES
5             IDOLS SNATCHERS
                 ...
16045       COMANCHEROS ENEMY
16046          VOYAGE LEGALLY
16047         ILLUSION AMELIE
16048    HUNCHBACK IMPOSSIBLE
16049              MOB DUFFEL
Name: title, Length: 15861, dtype: object

In [ ]:
# change the titles of all movies to capitalized first letter in each word
df['title'] = df['title'].apply(lambda x: x.title())

# display the updated DataFrame
print(df.head())

                  rental_date          return_date customer_lastname  \
rental_id
1         2005-05-24 22:53:30  2005-05-26 22:04:30            HUNTER
2         2005-05-24 22:54:33  2005-05-28 19:40:33           COLLAZO
3         2005-05-24 23:03:39  2005-06-01 22:12:39           MURRELL
4         2005-05-24 23:04:41  2005-06-03 01:43:41             PURDY
5         2005-05-24 23:05:21  2005-06-02 04:33:21            HANSEN

           store_id rental_store_city            title  film_rental_duration  \
rental_id
1                 1        Lethbridge  Blanket Beverly                     7
2                 2         Woodridge     Freaky Pocus                     7
3                 2         Woodridge    Graduate Lord                     7
4                 1        Lethbridge    Love Suicides                     6
5                 2         Woodridge  Idols Snatchers                     5

           rental_rate  replacement_cost rating
rental_id
1                 2.99             21.99      G
2                 2.99             16.99      R
3                 2.99             14.99      G
4                 0.99             21.99      R
5                 2.99             29.99  NC-17

In [ ]:
# get the customer who rented the most movies
max_rentals = df.groupby(['customer_lastname', 'store_id']).size().reset_index(name='rentals').max()

# display the customer_lastname, store_id, and rentals of the customer who rented the most movies
print("Customer with the Most Rentals:")
print("Last Name: ", max_rentals[0])
print("Store ID: ", max_rentals[1])
print("Rentals: ", max_rentals[2])

Customer with the Most Rentals:
Last Name:  YOUNG
Store ID:  2
Rentals:  26

In [ ]:
# find all the movies rented by customers with last names Olivares and Castillo
olivares_castillo = df[df['customer_lastname'].isin(['Olivares', 'Castillo'])]['title']

# display the movies rented by customers with last names Olivares and Castillo
print("Movies Rented by Olivares and Castillo:\n", olivares_castillo)

Movies Rented by Olivares and Castillo:
 Series([], Name: title, dtype: object)

In [ ]:
# filter the DataFrame to only include rentals from store_id 2 for Olivares and Hunt
olivares = df[(df['customer_lastname'] == 'Olivares') & (df['store_id'] == 2)]
hunt = df[(df['customer_lastname'] == 'Hunt') & (df['store_id'] == 2)]

# find the common rented movies
common_movies = pd.merge(olivares, hunt, on='title', how='inner')['title'].unique()

# display the common rented movies
print("Common Rented Movies:")
for movie in common_movies:
    print(movie)

Common Rented Movies:

In [ ]:
# filter the DataFrame to only include rentals from store_id 1 for Castillo
castillo = df[(df['customer_lastname'] == 'Castillo') & (df['store_id'] == 1)]

# sort the rented movies by their replacement cost
sorted_movies = castillo.sort_values(by='replacement_cost')

# display the rented movies sorted by their replacement cost
print("Movies Rented by Castillo (Store ID 1) Sorted by Replacement Cost:")
print(sorted_movies[['title', 'replacement_cost']])

Movies Rented by Castillo (Store ID 1) Sorted by Replacement Cost:
Empty DataFrame
Columns: [title, replacement_cost]
Index: []

In [ ]:
# group the DataFrame by customer_id, store_id, and title, and count the number of rentals
rental_count = df.groupby(['customer_lastname', 'store_id', 'title']).size().reset_index(name='rentals')

# filter the DataFrame to only include rentals with more than one rental count
multiple_rentals = rental_count[rental_count['rentals'] > 1]

# display the customers who rented a movie from the same store multiple times
print("Customers who rented a Movie from the Same Store Multiple Times:")
print(multiple_rentals[['customer_lastname', 'store_id', 'title', 'rentals']])

Customers who rented a Movie from the Same Store Multiple Times:
      customer_lastname  store_id                title  rentals
183             ALVAREZ         2      Caddyshack Jedi        2
287                ARCE         1        Kwai Homeward        2
319           ARCHULETA         1         Boiled Dares        2
360           ARMSTRONG         2  Operation Operation        2
508              AUSTIN         2          Flying Hook        2
...                 ...       ...                  ...      ...
14498           VANHORN         2         None Spiking        2
14564           VASQUEZ         1         Hunter Alter        2
14622             VINES         2        Cat Coneheads        2
14975            WATSON         1      Birdcage Casper        2
15314           WHEELER         1     Metal Armageddon        2

[103 rows x 4 columns]

In [ ]:
# filter the DataFrame to only include rentals by customers with last name Alvarez
alvarez_rentals = df[df['customer_lastname'] == 'Alvarez']

# group the DataFrame by customer_id, store_id, and title, and count the number of rentals
rental_count = alvarez_rentals.groupby(['customer_lastname', 'store_id', 'title']).size().reset_index(name='rentals')

# filter the DataFrame to only include rentals for the movie "Movie Title"
movie_title = 'Movie Title'
movie_rentals = rental_count[rental_count['title'] == movie_title]

# check if customer with last name Alvarez rented the movie twice
if len(movie_rentals[movie_rentals['rentals'] > 1]) > 0:
    print("Customer Alvarez rented the movie", movie_title, "more than once.")
else:
    print("Customer Alvarez did not rent the movie", movie_title, "more than once.")

Customer Alvarez did not rent the movie Movie Title more than once.